html{
    font-size: 12px;
}

body{
    margin: 0%;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    width: 100vw;
    height: 5vh;
    top: 0;
    text-align: center;
    background-color: rgb(162, 215, 221);
    z-index: 1000;
}

header h1{
    width: 100%;
    font-size: 4rem;
}

.content{
    margin: 5vh 0;
    height: 90vh;
    overflow: auto;
}
.image{
    height: 40vh;
    width: 100vw;
    overflow: auto;
    background-color: #ddd;
    position: relative;
    display: flex;
}
.image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
}
.image svg{
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.image input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
}
.image path{
    stroke-width: 2px;
}
.image path.active{
    stroke-width: 5px;
}
/* 画像拡大はいったんあきらめる */
/* input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    height: 0;
    width: 90%;
    background: #ccc;
    border-radius: 10px;
    border: solid 3px #dff1ff;
    position: fixed;
    top: 42vh;
    left: 5%;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ccc;
    width: 12px;
    height: 36px;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}
input[type="range"]::-moz-range-thumb {
    background: #ccc;
    width: 12px;
    height: 36px;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    border: none;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
} */
.tab-list{
    display: flex;
    justify-content: space-between;
    margin: 1vh 2vw;
    padding: 0;
    height: 3vh;
    list-style: none;
}
.tab-list__content{
    font-size: 2.4rem;
    height: 100%;
    width: 45vw;
    border-radius: 19px;
}
.tab-list__content:nth-child(1){
    background-color: #ff8;
    font-weight: bold;
}
.tab-list__content:nth-child(2){
    background-color: #ccc;
}
.tab-list__content p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #000;
    font-size: 2rem;
    text-decoration: none;
}
.result{
    margin: 3vh auto 0;
    height: 43vh;
    overflow: auto;
}
.result-tab{
    width: 90%;
    margin: auto;
}
.result-tab__safesearch-list-text {
    margin: 2rem 2rem 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.result-tab__safesearch-list-text-title{
    font-size: 2.4rem;
    font-weight: bold;
}
.result-tab__safesearch-list-text-result{
    font-size: 2rem;
}
.result-tab__safesearch-list-meter{
    display: flex;
    justify-content: space-between;
}
.result-tab__safesearch-list-meter-tab {
    height: 4rem;
    width: 18%;
    background-color: #eee;
    border-radius: 1rem;
}
#img-input{
    font-size: 3rem;
}
.objectTable{
    display: none;
    font-size: 3rem;
    border: solid 3px #000;
    text-align: center;
    margin-bottom: 8rem;
}
.objectTable__title{
    font-weight: bold;
    border: solid 3px #000;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}
.objectTable__content{
    border: solid 1px #000;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}
.objectTable__content p{
    width: max-content;
    display: block;
}

footer{
    position: fixed;
    height: 5vh;
    width: 100vw;
    bottom: 0;
    z-index: 1000;
    background-color: rgb(162, 215, 221);
}